{{#if bulkSelectEnabled}}
  <td class='star'>
    <input type="checkbox" class="bulk-select">
  </td>
{{/if}}

<td class='main-link clearfix' colspan="{{titleColSpan}}">
  {{#if tilesStyle}}
    <div class="topic-header-grid">
      {{raw "list/topic-list-title" topic=topic tilesStyle=tilesStyle showTopicPostBadges=showTopicPostBadges}}
    </div>
    {{raw "list/topic-excerpt" topic=topic}}
  {{/if}}


    {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails category=category opts=thumbnailOpts}}


  <div class="topic-details">
    {{#unless tilesStyle}}
      {{raw "list/topic-list-title"
        topic=topic
        showTopicPostBadges=showTopicPostBadges
        homepage=parentView.homepage
        suggested=parentView.suggestedList}}

      {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}
    {{/unless}}

    {{#if expandPinned}}
      
    {{/if}}

    {{#unless tilesStyle}}
      <div class="actions-and-meta-data">
        {{#if showActions}}
          {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
        {{/if}}
        {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
      </div>
    {{/unless}}

    {{#if tilesStyle}}
      </div>
      {{raw 'list/topic-meta' likesHeat=likesHeat title=view.title topic=topic}}
      
     <div class="topic-meta">
      {{raw-plugin-outlet name="topic-list-tiles-meta"}}
      <div class="topic-views {{topic.viewsHeat}} inline sub">
        {{number topic.views numberKey="views_long"}}
        <span>{{i18n 'views_lowercase' count=topic.views}}</span>
      </div>

        <div class='topic-replies posts-map {{likesHeat}} inline sub' title='{{title}}'>
        <a href class='posts-map badge-posts {{likesHeat}}'>{{number topic.replyCount}}{{d-icon 'comments'}}</a>
      </div>  
    </div>     
      
      
      {{#if showActions}}
        {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
      {{/if}}
    {{/if}}
</td>

{{#unless tilesStyle}}

  {{#if showParticipants}}		
    {{raw "list/posters-column" posters=topic.participants}}
  {{/if}}


  {{raw "list/posts-count-column" topic=topic}}

  {{#if showLikes}}
    <td class="num likes">
      {{#if hasLikes}}
        <a href='{{topic.summaryUrl}}'>
          {{number topic.like_count}} {{d-icon 'heart'}}
        </a>
      {{/if}}
    </td>
  {{/if}}

  {{#if showOpLikes}}
    <td class="num likes">
      {{#if hasOpLikes}}
        <a href='{{topic.summaryUrl}}'>
          {{number topic.op_like_count}} {{d-icon 'heart'}}
        </a>
      {{/if}}
    </td>
  {{/if}}
  
  {{raw "list/activity-column" topic=topic class="num" tagName="td"}}
{{/unless}}
